.comment{
  padding: 10px;
  border-radius: 5px;
}

.profile-container{
  margin: 150px auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 600px;
}

.comment{
  text-align: center;
}
.username{

}
