<div *ngIf="!posts" style="margin-top: 300px" class="spinner loader" >
</div>
<div *ngIf="posts" class="profile-container">
  <div>
    Welcome <b>{{username}}</b>.<br /> You have posted <b>{{postCount}}</b> time(s) and commented
    <b>{{commentCount}}</b> time(s).
    You can check your post and comment history below.
  </div>
  <hr />
  <div>
    Your Posts:
  </div>
  <app-post-card [posts]="posts" [profileContext] = "profileContext"></app-post-card>
  <hr />
  <div>
    Your Comments:
  </div>
  <div *ngFor="let comment of comments">
    <div class="comment">
        <span>
          Commented by:
        </span>


        <p style="display: inline-block; font-weight: bold; color: #878A8C">{{comment.userName}}</p>

      <div>
        <p>{{comment.createdDate}}</p>
      </div>
      <b>{{comment.text}}</b>
    </div>
    <hr />
  </div>
</div>
