.login-section{
    margin: 100px;
}

.login-failed, .register-success{
    text-align: center;
    margin: 10px auto auto;
    border: 2px solid black;
    width: 65%;
    background-color: red;
}

.login-failed-text, .register-success-text{
    text-align: center;
    margin-top: 5px;
    font-weight: bold;
    color: aliceblue;
}
