<div *ngIf="!post" style="margin-top: 300px" class="spinner loader" >
</div>

<div *ngIf="post" class="container">
  <div class="row">
    <hr/>
    <div *ngIf="post" class="col-md-9">
      <div class="row post">
        <div class="col-md-1">
          <app-like-button *ngIf="isLoggedIn" [post]="post"></app-like-button>
        </div>
        <div class="col-md-11">
          <img [src]="postImg">
          <span>
            <span class="category-text"><p style="display:inline-block; color: #878A8C" class="post-url">{{post.categoryName}}</p></span>
            <span>. Posted
              <span> {{post.duration}} </span>
              by
              <p style="display:inline-block; color: #878A8C; font-weight: bold" class="username" href="">{{post.userName}}</p>
            </span>
          </span>
          <hr/>
          <div>
            <a *ngIf="post.url" class="post-link" href="{{post.url}}" target="_blank">{{post.url}}</a>
          </div>
          <h2  >{{post.postName}}</h2>
          <div>
            <p class="post-text" [innerHTML]="post.description"></p>
          </div>
          <div *ngIf="isLoggedIn" class="post-comment">
            <form [formGroup]="commentForm" (ngSubmit)="postComment()">
              <div class="form-group">
                <textarea class="form-control" [formControlName]="'text'" placeholder="Your Thoughts?"></textarea>
              </div>
              <button  type="submit" class="login float-right">Comment</button>
            </form>
          </div>
          <div class="comment-wrapper">
            <div *ngFor="let comment of comments">
              <div class="comment">
                <div class="username">
                  <p style="display:inline-block">Commented by &nbsp;</p>
                  <p  style="font-weight:bold; display:inline-block">{{ comment.userName}}</p>
                </div>
                <div>
                  <p>{{comment.createdDate}}</p>
                </div>
                <p>{{comment.text}}</p>
              </div>
              <hr/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <app-side-bar></app-side-bar>
      <app-category-side-bar></app-category-side-bar>
    </div>
  </div>
</div>
