<div *ngIf="!posts" style="margin-top: 300px" class="spinner loader" >
</div>

<div *ngIf="posts" class="mountain-app-body">
  <div class="container">
    <div class="row">
      <hr />
      <div class="col-md-9">
        <app-post-card [posts]="posts"></app-post-card>
      </div>
      <div class="col-md-3">
        <app-side-bar></app-side-bar>
        <app-category-side-bar></app-category-side-bar>
      </div>
    </div>
  </div>
</div>
