<div class="sidebar-view-category">
    <div style="color: black; font-weight: bold">Browse Categories</div>
    <hr />
    <span *ngFor="let category of categories">
        <span class="category-text"><a routerLink="/view-category/{{category.id}}">{{category.name}}</a></span>
        <hr />
    </span>
    <div style="text-align: center" *ngIf="displayViewAll">
        <a style="font-weight: bold" routerLink="/list-categories">View All</a>
    </div>
</div>
