.background {
  width: 100%;
  margin: 0 auto;
}

.img-container{
  position: relative;
  bottom: 25px;
}

.get-started {
  display: flex;
  flex-direction: column;
  max-width: 325px;
  align-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: rgba(0,0,0,0.5);
  position: relative;
  bottom:500px;
  border-radius: 5px;
}

.get-started a, h4,h5{
  text-align: center;
  margin:10px;
  color: white;
}

.get-started a{
  padding: 5px 25px;
  background-color: #157FA9;
  border-radius: 5px;
  text-decoration: none;
}

app-header{
  display: none;
}

