<section class="img-container">
  <img class="background" src="https://user-images.githubusercontent.com/79804094/160455250-b1855ba9-d873-4886-8d02-3433acf00658.jpg" alt="Cannot load background image"/>
</section>

<section class="get-started">
<h4>
  Welcome to the biggest mountaineering social network!
</h4>
  <h5>If you have an account, sign in:</h5>
  <a class="get-started-btn" routerLink="/login">Sign in</a>

  <h5>If you want to join the community, please sign up: </h5>
  <a class="get-started-btn" routerLink="/sign-up">Sign up</a>

  <h5>Or continue as guest</h5>
  <a class="get-started-btn" routerLink="/home">Get started</a>
</section>

