
.sidebar{
    width: 312px;

    --post-line-color: #ccc;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: rgba(255,255,255,0.8);
    color: #878A8C;
    position: relative;
    border-radius: 4px;
    padding:5px;

}

.btnCreatePost, .btnCreateCategory{
    background-color: #0079D3;
    color: aliceblue;
    fill: #0079D3;
    border: 1px solid #0079D3;
    border-radius: 5px;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;

    line-height: 24px;
    text-transform: uppercase;
    padding: 3px 16px;
    opacity: 1;
    width: 288px;
    height: 34px;
}

.btnCreateCategory{
    margin-top: 5px;
    color: #0079D3;
    background-color: transparent;
}

.sidebar>ul>li{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #1c1c1c;
}

.img-layer{
  width: 100%;
  height: 80px;
}

.bg-light{

}

