<div class="sidebar">
    <img class="img-layer" src="https://user-images.githubusercontent.com/79804094/160365682-282f19a7-6315-4cea-900b-f59ac72f92e8.jpg">
    <div style="text-align: center; font-size: 1em">Welcome to Your Mountaineering Social Network home page. Come here to
        check in with your favorite categories.</div>
    <div style="text-align: center">
        <button class="btnCreatePost" (click)="goToCreatePost()">Create Post</button>
    </div>
    <div *ngIf="isUserAdmin" style="text-align: center">
        <button class="btnCreateCategory" (click)="goToCreateCategory()">Create Category</button>
    </div>
</div>
