<!-- Section to Display Votes-->
<div class="col-md-1">
    <div class="d-flex flex-column likebox">
    <div class="p-2">
        <fa-icon (click)="likePost()" class="like" [icon]="faArrowUp" [style.color]="post!.like ? 'green':''">
        </fa-icon>
    </div>
    <div class="p-2 like-count">{{post!.likesCount}}</div>
    <div class="p-2">
        <fa-icon (click)="unlikePost()" class="unlike" [icon]="faArrowDown" [style.color]="post!.unlike ? 'red':''">
        </fa-icon>
    </div>
    </div>
</div>
