.likebox {
    display: flex;
    text-align: center;
    flex-direction: column;
    font-size: 1em;
}

.like-section{
    margin:0px;
    background-color: #ffffff;
}
.like,.unlike {
    cursor: pointer;
    border-radius: 2px;
}
.like:hover {
    color: green;
}
.unlike:hover {
    color: red;
}

.like-count{
    font-weight: bold;
}
