<app-dialog [(visible)]="showDialogDelete">
  <h1>Are you sure?</h1>
  <button style="margin: 0 auto" class="login" (click)="deletePost()">Delete post</button>
</app-dialog>

<app-dialog [(visible)]="showDialogEditData">
  <form class="post-form" [formGroup]="editPostDataForm" (ngSubmit)="editPostData($event)">
    <div class="form-group">
      <div class="create-post-heading">Edit Post</div>
      <hr/>
      <input type="text" [formControlName]="'postName'" class="form-control" style="margin-top: 5px"
             placeholder="Title">
      <div *ngIf="postName!.invalid && (postName!.dirty || postName!.touched)"
           class="alert alert-danger">
        Giving a post name is required. The minimum length is 3 characters.
      </div>
      <input type="text" class="form-control" [formControlName]="'url'" style="margin-top: 5px" placeholder="URL">

      <select class="form-control" style="margin-top: 4px" [formControlName]="'categoryName'">
        <option value="" selected disabled>Select Category</option>
        <option *ngFor="let category of categories">{{category.name}}</option>
      </select>
      <div *ngIf="categoryName!.invalid && (categoryName!.dirty || categoryName!.touched)"
           class="alert alert-danger">
        Selecting category is required.
      </div>
      <textarea class="text-area form-control" [formControlName]="'description'"></textarea>
      <div *ngIf="description!.invalid && (description!.dirty || description!.touched)"
           class="alert alert-danger">
        Description is is required. The minimum length is 10 characters.
      </div>
    </div>

      <span>
         <div style="margin-top: 5px" class="float-right">
                <button class="btnEditPost login"(click)="editPostData($event)">Edit</button>
         </div>
      </span>
  </form>
  <div style="margin-top: 5px" class="float-right">
  <button class="btnEditDiscard login" (click)="discardEditingData()">Discard</button>
  </div>
</app-dialog>

<app-dialog [(visible)]="showDialogEditImg">
  <h1>Edit Post Image</h1>
  <form class="post-form" [formGroup]="editPostImgForm" (ngSubmit)="editPostImage($event)">
    <div style="position: relative; left: 66px; top:50px">
    <input #file type="file" [formControlName]="'imgFile'" (change)="onFileChanged($event)">
      <button style="position: absolute; left:-61px; top: -5px;" class="login" (click)="toggleFileSelect($event, file)">Select Image</button>
    </div>
    <div style="position: relative; top: 70px">
     <span>
         <div class="float-right">
                <button class="btnEditPost login"(click)="editPostImage($event)">Edit</button>
         </div>
      </span>
      <button style="margin-left: 13px" class="btnEditDiscard login" (click)="discardEditingImage($event)">Discard</button>
    </div>
    </form>
</app-dialog>

<app-dialog class="img-dialog" [(visible)]="showDialogImageOnClick">
  <img class="img-sh" [src]="imgToShowSrc" alt="">
</app-dialog>


<div id="content" class="row post" *ngFor="let post of posts">
  <app-like-button *ngIf="isLoggedIn" [post]="post"></app-like-button>

  <div *ngIf="profileContext" ngbDropdown class="float-left edit-menu">

    <fa-icon id="drop" [icon]="faArrowDown" (click)="toggle(btn)"></fa-icon>
    <button #btn id="btn" ngbDropdownToggle></button>
    <div ngbDropdownMenu class="drop-down" aria-labelledby="dropdownBasic1">
      <button (click)="showDeletePostModal(post)" ngbDropdownItem>Delete Post</button>
      <button (click)="showEditPostDataModal(post)" ngbDropdownItem>Edit Post Data</button>
      <button (click)="showEditPostImgModal(post)" ngbDropdownItem>Edit Post Image</button>
    </div>
  </div>
  <div class="col-md-11">
    <div *ngIf="loading" class="image-spinner loader">
    </div>
    <img #img [hidden]="loading" (load)="onLoad()" (click)="displayImage($event,img)" class="loading img-post" [src]="post.retrievedImage" alt="">
    <span class="category-info">
      <p class="sp"> Category: &nbsp;</p>
      <span class="category-text"><p class="post_name">{{post.categoryName}}</p></span>
      <span>. Posted by <p class="username">{{post.userName}}.</p></span>
      <p class="sp">&nbsp;Posted&nbsp;</p>
      <span>{{post.duration}}.</span>
    </span>
    <hr/>
    <div class="post-title">
      <h3 class="post_title">{{post.postName}}</h3>
    </div>
    <div style="margin-bottom: 20px">
      <a *ngIf="post.url" class="post-link" href="{{post.url}}" target="_blank">{{post.url}}</a>
    </div>
    <div>
      <p class="post-text" [innerHtml]="post.description"></p>
    </div>
    <hr/>
    <span>
      <p [style]="'display:inline-block; margin-right:7px;'">
        <fa-icon [icon]="faComments"></fa-icon>
        Comments({{post.commentCount}})
      </p>
      <button class="login" (click)="goToPost(post.id)">
        Read Post
      </button>
    </span>
  </div>
</div>

