.post {
  --post-line-color: #ccc;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.8);
  color: #878A8C;
  position: relative;
  border-radius: 4px;
  padding: 5px;
}

.btnComments {
  border-radius: 2px;
  color: #878A8C;
  opacity: 1;
}

.btnComments:hover {
  opacity: 0.65;
  cursor: pointer;
}

.post-title {
  font-size: 28px;
  font-weight: bold;
  opacity: 1;
}

.post_name, .post_title {
  color: black;
}

.category-text {
  font-weight: 600;
}

.post-text {
  margin-top: 10px;
}

.username {
  font-weight: bold;
}

img {
  width: 100%;
  border-radius: 5px;
  margin-top: 5px;
}

.image-spinner {
  margin: 10px auto;
}

.username, .post_name {
  display: inline-block;
  color: gray;
}

.sp {
  display: inline-block;
}

.edit-menu {
  position: relative;
  top: 7px;
}


.edit-menu fa-icon:hover {
  cursor: pointer;
}

#drop{
  padding: 3px;
}
#drop:hover{
  border-radius: 2px;
  background-color: #0079D3;
  color: #FFF;

}

#btn{
  padding: 0px 2px;
  background-color: #FFFFFF;
  color: #FFFFFF;
  border:none;
  position: relative;
  bottom: 18px;
  left: 5px;
  z-index: -999999;
  outline: none;
}

.text-area{
  width: 100%;

  margin-top: 5px;
}

.btnEditDiscard {
  fill: #0079D3;
  border: 1px solid;
  border-radius: 4px;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  padding: 3px 16px;
  opacity: 1;
  width: 240px;
  height: 34px;
  margin-top: 5px;
  color: #0079D3;
  background-color: transparent;
  position: relative;
  right: 10px;
  bottom: 5px;
}

.create-post-heading {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: #1c1c1c;
  -ms-flex: 1;
  flex: 1;
}

.btnEditPost {
  background-color: #0079D3;
  color: aliceblue;
  fill: #0079D3;
  border: 1px solid #0079D3;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 3px 16px;
  opacity: 1;
  width: 240px;
  height: 34px;
}

.post-link{
  color: #0079D3;
}

.img-post:hover{
  cursor: pointer;
}

.img-sh{
  width: 50vw;
}


