@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url("../node_modules/ngx-toastr/toastr.css");
@import url("../node_modules/@angular/material/prebuilt-themes/purple-green.css");


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html {
  padding: 0;
  height: 100%;
}

body {
  margin-top: 75px;
  height: 100%;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.login,
.sign-up {
  background-color: #0079D3;
  color: aliceblue;
  fill: #0079D3;
  border: 1px solid #0079D3;
  border-radius: 5px;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  padding: 3px 16px;
  opacity: 1;
}

a, a:visited, a:hover, a:active {
  color: #0079D3;
}

.row {
  justify-content: center;
}

.navbar {
  background: #1786AA;
}

.post {
  max-width: 650px;
}

.post, .sidebar, .sidebar-view-category, .navbar, .get-started, .comment, .create-post-container, .create-category-container, .card {
  -webkit-box-shadow: 0px 0px 31px 1px rgba(70, 70, 70, 0.65);
  box-shadow: 0px 0px 31px 1px rgba(70, 70, 70, 0.65);
}

.login:hover, .sign-up:hover, .get-started-btn:hover, .btnCreatePost:hover, .btnDiscard:hover, .btnCreateCategory:hover {
  -webkit-box-shadow: 0px 0px 31px 1px rgba(70, 70, 70, 0.65);
  box-shadow: 0px 0px 31px 1px rgba(70, 70, 70, 0.65);
}

.get-started-btn:hover {
  border: 1px solid gray;
}

a:hover {
  text-decoration: none;
  color: #0079D3;
  font-size: larger;
}

.row {
  margin: 20px 0 0;
  flex-wrap: nowrap;
}

.form-group {
  margin: 10px;
}

.sidebar {
  margin-top: 20px;
}


.spinner {
  margin: 0 auto;
  transform: translateY(500%);
}

.loader {
  margin: 150px auto 0;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


