<div *ngIf="!posts" style="margin-top: 300px" class="spinner loader" >

</div>

<div *ngIf="posts" class="mountain-app-body">
  <div ngbDropdown class="edit-menu">

    <button #btn id="btn"class="login" ngbDropdownToggle>Order by</button>
    <div ngbDropdownMenu class="drop-down" aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem (click)="getAllPostsOrderedByPostName()">Post Name</button>
      <button  ngbDropdownItem (click)="getAllPostsOrderedByCategory()">Category</button>
      <button  ngbDropdownItem (click)="getAllPostsOrderedByCreatedDateAsc()">Created Date Ascending</button>
      <button  ngbDropdownItem (click)="getAllPostsOrderedByCreatedDateDesc()">Created Date Descending</button>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <hr/>
      <div class="col-md-9">
        <app-post-card [posts]="posts"></app-post-card>
      </div>
      <div class="col-md-3">
        <app-side-bar></app-side-bar>
        <app-category-side-bar></app-category-side-bar>
      </div>
    </div>
  </div>
</div>

