<div class="container">
  <div class="row">
    <hr/>
    <div class="create-post-container col-md-9" >
      <form class="post-form" [formGroup]="createPostForm" (ngSubmit)="createPost()">
        <div class="form-group">

          <div class="create-post-heading" style="margin-bottom: 20px">Create Post</div>
          <div style="position: relative; left: 61px;top: -4px; margin-top: 8px; margin-bottom: 4px;">
            <input #file type="file" [formControlName]="'imgFile'" (change)="onFileChanged($event)">
            <button style="position: absolute; left:-61px; top: -5px;" class="login" (click)="file.click()">Select Image</button>
          </div>
          <div *ngIf="imgFile!.invalid && (imgFile!.dirty || imgFile!.touched)"
               class="alert alert-danger">
            Img file is required.
          </div>
          <input type="text" [formControlName]="'postName'" class="form-control" style="margin-top: 4px"
                 placeholder="Title">
          <div *ngIf="postName!.invalid && (postName!.dirty || postName!.touched)"
               class="alert alert-danger">
            Giving a post name is required. The minimum length is 3 characters.
          </div>
          <input type="text" class="form-control" [formControlName]="'url'" style="margin-top: 4px" placeholder="URL">

          <select class="form-control" style="margin-top: 4px" [formControlName]="'categoryName'">
            <option value="" selected disabled>Select Category</option>
            <option *ngFor="let category of categories">{{category.name}}</option>
          </select>
          <div *ngIf="categoryName!.invalid && (categoryName!.dirty || categoryName!.touched)"
               class="alert alert-danger">
            Selecting category is required.
          </div>
          <textarea id="description" class="text-area form-control" [formControlName]="'description'" placeholder="Description" style="margin-top: 4px"></textarea>
          <div *ngIf="description!.invalid && (description!.dirty || description!.touched)"
               class="alert alert-danger">
            Description is is required. The minimum length is 10 characters.
          </div>
          <span>
              <div style="margin-top: 5px;" class="float-right">
                <button style="margin-right: 10px; width: 222px" class="btnCreatePost float-left">Post</button>
                <button style="width: 222px" (click)="discardPost()" class="btnDiscard">Discard</button>
              </div>
            </span>
        </div>
      </form>

    </div>
  </div>
</div>
